<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZornMusic"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".viewArtistPlan"
            android:exported="false" />
        <activity
            android:name=".premiumMakePayment"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".viewPremiumUserAcc"
            android:exported="false" />
        <activity
            android:name=".UserViewAccount"
            android:exported="false" />
        <activity
            android:name=".viewArtistAcc"
            android:exported="false" />
        <activity
            android:name=".planInsert"
            android:exported="false" />
        <activity
            android:name=".ArtistPlanInsert"
            android:exported="false" />
        <activity
            android:name=".viewUserPlan"
            android:exported="false" />
        <activity
            android:name=".viewArtistPremiumPlans"
            android:exported="false" />
        <activity
            android:name=".makePayment"
            android:exported="false" />
        <activity
            android:name=".editUserProfile"
            android:exported="false" />
        <activity
            android:name=".viewPlans"
            android:exported="true"/>
        <activity
            android:name=".Library"
            android:exported="false" />
        <activity
            android:name=".ViewAlbumSongs"
            android:exported="false" />
        <activity
            android:name=".ViewSong"
            android:exported="false" />
        <activity
            android:name=".UploadNewSong"
            android:exported="false" />
        <activity
            android:name=".CreateNewAlbum"
            android:exported="false" />
        <activity
            android:name=".Album"
            android:exported="false" />
        <activity
            android:name=".EditAlbum"
            android:exported="false" />
        <activity
            android:name=".UpdateSong"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" />
    </application>

</manifest>